<%- include ("../partials/header") %>

<!--
  Page that displays all the authors in the library and how many books they
  have written.

  Ideally we would have a button to allow the user to view all the books by that
  author.
-->


<div class="myContainer element-col center">
  <div class="main-container">

    <% if(data !=""){%>

      <% for(var i=0; i < data.length; i++){%>

        <div class="single-item" id=<% "Author " + data[i].author_id %> >
            <h1><strong><%= data[i].first_name + " " + data[i].last_name %></strong></h1>
            <form>
                <button type="Submit" class="btn btn-dark"> See books by <%= data[i].first_name %> <%= data[i].last_name %> </button>
            </form>
        </div>
        <br/>

      <%}%>

    <%}%>

  </div>
</div>
<%- include ("../partials/footer") %>
