<%- include ("../partials/header") %>

  <div class="myContainer center element-col">
    <%if(error!=""){%>
      <div class="not-avail"><%=error%></div>
    <%}%>
    <!-- form to add data -->
    <form class="addData" onSubmit="addAndValidateFormAuthors()">
      <label for="author_id">author_id:</label>
      <input type="number" name="author_id" class="form-control">

      <label for="first_name">first_name:</label>
      <input type="text" name="first_name" class="form-control">

      <label for="last_name">last_name:</label>
      <input type="text" name="last_name" class="form-control">

      <button class="btn btn-dark" name="add" type="Submit">Add</button>
      <div class="not-avail" id="data-add-error"></div>

    <br/>
    <br/>

    </form>

    <!-- form to show data in table-->
    <table>
      <tr>
        <th><u>author_id</u></th>
        <th>first_name</th>
        <th>flast_name</th>

        <th>Modify</th>
        <th>Delete</th>
      </tr>
      <% for(var i = 0; i<data.length; i++){%>

        <tr>
          <form class="row-data" id="row-data-<%=i%>" value="<%=i%>" onsubmit="validateFormAuthors(<%=i%>)">
            <td><input type="number" name="author_id" placeholder="<%=data[i].author_id%>"></td>
            <td><input type="text" name="first_name" placeholder="<%=data[i].first_name%>"></td>
            <td><input type="text" name="last_name" placeholder="<%=data[i].last_name%>"></td>
            <td><button class="btn btn-dark" name="modify" value="<%=data[i].author_id%>" type = "submit" class="btn btn-dark">Modify</button></td>
          </form>
            <td><form onsubmit="authorsTableRemoval(<%= data[i].author_id %>)"><button value ="<%= data[i].author_id %>" type ="submit" class="btn btn-dark">Delete</button></form></td>
        </tr>

      <%}%>

    </table>

  </div>

<%- include ("../partials/footer") %>
