<%- include ("../partials/header") %>

  <div class="myContainer table-container element-col ">
    <%if(error!=""){%>
      <div class="not-avail"><%=error%></div>
    <%}%>
    <!-- form to add data -->
    <div class="form-container center">
      <form class="addData element-col" onSubmit="addAndValidateFormBooks()">

        <label>isbn:</label>
        <input type="number" name="isbn" class="form-control form-control-add">

        <label>title:</label>
        <input name="title" class="form-control form-control-add">

        <label>pages:</label>
        <input type="number" name="pages" class="form-control form-control-add">

        <label>publication:</label>
        <input  type = "date" name="publication" class="form-control form-control-add">

        <label>publisher_id:</label>
        <input type="number" name="publisher_id" class="form-control form-control-add">

        <label>section_id:</label>
        <input type="number" name="section_id" class="form-control form-control-add">

        <label >on_shelf:</label>
        <select name="on_shelf" class="form-control form-control-add" placeholder="test">
          <option value="1">True</option>
          <option value="0">False</option>
        </select>

        <button class="btn btn-dark" type="Submit">Add</button>
        <div class="not-avail" id="data-add-error"></div>

      <br/>
      <br/>

      </form>
    </div>

    <!-- form to show data in table-->
    <table class="table-elements">
      <tr>
        <th><u>book_id</u></th>
        <th>isbn</th>
        <th>title</th>
        <th>pages</th>
        <th>publication</th>
        <th>publisher_id</th>
        <th>section_id</th>
        <th>on_shelf</th>
        <th>Modify</th>
        <th>Delete</th>
      </tr>
      <% for(var i = 0; i<data.length; i++){%>

        <tr>
          <form class="row-data" id="row-data-<%=i%>" value="<%=i%>" onsubmit="validateFormBooks(<%=i%>)">
            <td style="text-align:center"><strong><%=data[i].book_id%></strong></td>
            <td><input type="number" name="isbn" placeholder="<%=data[i].isbn%>" > </td>
            <td><input name="title" placeholder="<%=data[i].title%>" > </td>
            <td><input type="number" name="pages" placeholder="<%=data[i].pages%>" > </td>
            <%
              //formatting the date for the publication date.
              let pub_date = new Date(data[i].publication);

              let month = String(pub_date.getMonth());
              month = String(parseInt(month)+1);
              if(month.length < 2){
                month = "0"+month;
              }
              let day = String(pub_date.getDate());
              if(day.length < 2){
                day = "0"+day;
              }

              let mdy = String(month)+ "/"+ String(day) +"/"+ String(pub_date.getFullYear());

              console.log(data[i].on_shelf);

            %>
            <td><label for="publication"> <%=mdy%> </label><input type = "date" name="publication"> </td>
            <td><input type="number" name="publisher_id" placeholder="<%=data[i].publisher_id%>" ></td>
            <td><input type="number" name="section_id" placeholder="<%=data[i].section_id%>" ></td>
            <td><select name="on_shelf" class="form-control" placeholder="test">
              <%
                if(data[i].on_shelf == 0){ %>
                  <!-- defaults the top 1 to whatever is in the db-->
                  <option value="0">False</option>
                  <option value="1">True</option>
              <%  }else{%>
                  <option value="1">True</option>
                  <option value="0">False</option>
                <%}%>
            </select></td>
            <td><button class="btn btn-dark" name="modify" value="<%= data[i].book_id %>" type = "submit" class="btn btn-dark">Modify</button></td>
          </form>
          <td><form onsubmit="booksTableRemoval(<%= data[i].book_id %>)"><button value ="<%= data[i].book_id %>" type ="submit"  class="btn btn-dark">Delete</button></form></td>
        </tr>

      <%}%>

    </table>

  </div>

<%- include ("../partials/footer") %>
