<%- include ("../partials/header") %>

  <!--
  
    Page that handles the user check out book form.

    Has form validation on the server end.

  -->

<div class="myContainer center">
  <form method="POST" action="/validateFormCheckOut" >
      <h1>Checking out: <%=data.title%></h1>

      <hr/>
      <label for="firstName">First Name:</label>
      <input name="firstName" placeholder="name">
      <br/>
      <label for="lastName">Last Name:</label>
      <input name="lastName" placeholder="name">
      <br/>
      <input class="hidden" name="book_id" value = <%=data.book_id%>>
      <input class="hidden" name="title" value = '<%=data.title%>'>
      <% if(data.error && data.error !=""){%>
        <br/>
          <div class="not-avail"><%=data.error%></div>
        <br/>
      <%}%>
      <button type="submit" class="btn btn-dark">Submit!</button>
  </form>

</div>


<%- include ("../partials/footer") %>
