<%- include ("../partials/header") %>
  <div class="myContainer center element-col">
    <%if(error!=""){%>
      <div class="not-avail"><%=error%></div>
    <%}%>
    <!-- form to add data -->
    <form class="addData" onSubmit="addAndValidateFormPatrons()">
      <label for="patron_id">patron_id:</label>
      <input type="number" name="patron_id" class="form-control">

      <label>first_name:</label>
      <input type="text" name="first_name" class="form-control">

      <label>last_name</label>
      <input name="last_name" type="text" class="form-control">

      <label>address:</label>
      <input type="address" name="address" class="form-control">

      <label>phone:</label>
      <input  type = "tel" name="phone" class="form-control">

      <button class="btn btn-dark" type="Submit">Add</button>
      <div class="not-avail" id="data-add-error"></div>
        
    <br/>
    <br/>

    </form>

    <!-- form to show data in table-->
    <table>
      <tr>
        <th><u>patron_id</u></th>
        <th>first_name</th>
        <th>last_name</th>
        <th>address</th>
        <th>phone</th>
        <th>Modify</th>
        <th>Delete</th>
      </tr>
      <% for(var i = 0; i<data.length; i++){%>

        <tr>
          <form class="row-data" id="row-data-<%=i%>" value="<%=i%>" onsubmit="validateFormPatrons(<%=data[i].patron_id%>)">
            <td><input type="number" name="patron_id" placeholder="<%=data[i].patron_id%>" value="<%=data[i].patron_id%>"></td>
            <td><input type="text" name="first_name" placeholder="<%=data[i].first_name%>" value ="<%=data[i].first_name%>"> </td>
            <td><input type = "text" name="last_name" placeholder="<%=data[i].last_name%>" value ="<%=data[i].last_name%>"> </td>
            <td><input type="address" name="address" placeholder="<%=data[i].address%>" value ="<%=data[i].address%>"> </td>
            <td><input type = "tel" name="phone" placeholder="<%=data[i].phone%>" value ="<%=data[i].phone%>"> </td>
            <td><button class="btn btn-dark" name="modify" value="<%=data[i].patron_id%>" type = "submit" class="btn btn-dark">Modify</button></td>
          </form>
          <td><form onsubmit="patronsTableRemoval(<%= data[i].patron_id %>)"><button value ="<%= data[i].patron_id %>" type ="submit"  class="btn btn-dark">Delete</button></form></td>
        </tr>

      <%}%>

    </table>

  </div>

<%- include ("../partials/footer") %>
