<%- include ("../partials/header") %>

  <div class="myContainer center element-col">
    <%if(error!=""){%>
      <div class="not-avail"><%=error%></div>
    <%}%>

    <% for(var i = 0; i < data.length; i++){%>

        <p id = "book-title">"<%=data[i].title%>"</p>
        <p id = "author-fname">"<%=data[i].first_name%>"</p>
        <p id = "author-lname">"<%=data[i].last_name%>"</p>

    <%}%>

    

  </div>

<%- include ("../partials/footer") %>
