<%- include ("../partials/header") %>

  <div class="myContainer search-container">
    <%if(error!=""){%>
      <div class="not-avail"><%=error%></div>
    <%}%>

    <% for(var i = 0; i < data.length; i++){%>
      <div class="single-item">
        <p id = "book-title"><h3><%=data[i].title%></h3></p>
        <p id = "author-fname"><strong>First name:</strong> <%=data[i].first_name%></p>
        <p id = "author-lname"><strong>Last name:</strong> <%=data[i].last_name%></p>
      </div>
    <%}%>



  </div>

<%- include ("../partials/footer") %>
