<%- include ("../partials/header") %>


<!--
  Page that displays all the sections at the library

  Ideally we would allow the user to view all the books in that section
-->

<div class="myContainer element-col center">
  <div class="main-container">
    <% if(data!=""){%>
      <% for (var i=0; i<data.length; i++){ %>
        <div class="single-item">
          <h1><%=data[i].section_name%></h1>
          <hr>
          <strong>Section id: </strong><%=data[i].section_id%><br/>

          <Strong>Number of Books: </strong><%=data[i].number_of_books%>
          <form>
            <button type="Submit" class="btn btn-dark">See books in this section</button>
          </form>
        </div>
      <%}%>
    <%}%>
  </div>
</div>

<%- include ("../partials/footer") %>
