<%- include ("../partials/header") %>
<div class="myContainer element-col center">

  <!--
    simple display page to show the user that they checked out a book

    this page will be changed when we handle more stuff in the back-end
  -->

    <%if(data!=""){%>
      <h1>Successfully checked out!</h1>
      <br/>
      <div>
        First Name:<%=data.firstName%>
        <br/>
        Last Name: <%=data.lastName%>
        <br/>
        Book ID: <%=data.book_id%>
        <br/>
        Title: <%=data.title%>
      </div>
    <%}%>
    
    <!-- section that shows what information was added to the patron -->
    <%if(signup!=""){%>
      <h1>Successfully added new patron!</h1>
      First name: <%=signup.first_name%>
      <br/>
      Last name: <%=signup.last_name%>
      <br/>
      Phone: <%=signup.phone%>
      <br/>
      Address: <%=signup.address%>
    <%}%>


</div>
<%- include ("../partials/footer") %>